@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    font-family: "Kumbh Sans",sans-serif; 
    overflow: hidden;

}

img {
    max-width: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

.bg_top {
    position: absolute;
    top: -50%;
    left: -20%;
    z-index: -1;
}
  
.bg_bottom {
    position: absolute;
    bottom: -50%;
    right: -20%;
    z-index: -1;
}

.container {
    border-radius: 1rem;
    background-color: white;
    max-width: 375px;
    width: 100%;
}

.container article:first-child {
    position: relative;
}

.container article:first-child img {
    border-radius: 1rem 1rem 0 0;
}

.container article:first-child div img {
    border-radius: 50%;
    width: 6rem;
    position: absolute;
    left: 50%;
    bottom: -3rem;
    transform: translateX(-50%);
    border: 5px solid #fff;
  }

  .container article:nth-child(2) {
    text-align: center;
    margin-top: 4.5rem;
  }
  
  .container article:nth-child(2) h1 {
    color: hsl(229, 23%, 23%);
  }
  
  .container article:nth-child(2) span {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    padding-left: 0.75rem;
  }
  
  .container article:nth-child(2) p {
    color: hsl(227, 10%, 46%);
    margin-top: 0.75rem;
    padding-bottom: 2rem;
  }
  
  .container article:nth-child(3) {
    border-top: 1px solid hsl(227, 10%, 46%, 0.2);
    padding: 2rem;
  }
  
  .container article:nth-child(3) ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container article:nth-child(3) ul li {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 1.4rem;
    text-align: center;
  }
  
  .container article:nth-child(3) ul li span {
    display: block;
    font-weight: 400;
    font-size: 0.7rem;
    color: hsl(227, 10%, 46%);
    letter-spacing: 0.15rem;
    margin-top: 0.3rem;
  }



